
.btn-nuevoEquipo {
  color: black;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: 600;
  transition: 0.4s;
}

.btn-nuevoEquipo:hover {
  background-color: black;
  color: #FF383C;
  transform: scale(1.05);
}


.thead-corporativo th {
  background-color: #FF383C !important;
  color: white !important;
  border-bottom: 2px solid black !important;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.tabla-fichajes tbody tr {
  transition: background-color 0.2s;
}

.tabla-fichajes tbody tr:hover {
  background-color: rgba(255, 56, 60, 0.05) !important;
}
body {
  background-image: url('/estadioLigas80.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-rojo-volver {
  background-color: #FF383C;
  border: 2px solid #FF383C;
  color: white;


}


.loading{
  color: white;
}
