/* Botón estilo NEGRO (Tu estilo corporativo) */
.btn-nuevoEquipo {
  color: black;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: 600;
  transition: 0.4s;
}

.btn-nuevoEquipo:hover {
  background-color: black;
  color: #FF383C;
  transform: scale(1.05);
}

/* Cabecera de la tabla */
.thead-corporativo th {
  background-color: #FF383C !important;
  color: white !important;
  border-bottom: 2px solid black !important;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Ajustes de la tabla */
.tabla-fichajes tbody tr {
  transition: background-color 0.2s;
}

.tabla-fichajes tbody tr:hover {
  background-color: rgba(255, 56, 60, 0.05) !important; /* Rojo muy suave al pasar el ratón */
}
