.navbar {
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.header-logo{
  width: 80px;
}

.links {
  display: flex;
  gap: 20px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


body, app-root {
  margin: 0;
  padding-top: 80px;
}

.btn-red {
  background-color: #FF383C;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
}

.btn-red:hover {
  background-color: #a80000;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-logo {
    margin-bottom: 15px;
    width: 110px;
  }

  .nav-buttons {
    flex-direction: column;
    width: 60%;
    align-items: center;
    gap: 1rem;
  }

  .nav-buttons a {
    width: 90%;
    margin: 5px 0;
  }
}
