.navbar {
  position: sticky;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-logo{
  width: 80px;
}

.links {
  display: flex;
  gap: 20px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

body, app-root {
  margin: 0;
  padding-top: 80px;
}
