html, body {
  margin: 0;
  padding: 0;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
  color: white;

  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

}



.hero-title {
  font-size: 3rem;
  font-weight: bold;
  max-width: 40%;
}

.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.btn-red {
  background-color: #FF383C;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 7px;
}

.btn-red:hover {
  background-color: #a80000;
  color: white;
}

@media (max-width: 768px) {

  .hero{
    background-size: cover;
    background-position: center center;
    justify-content: space-evenly;
    height: 60vh;

  }

  .hero-title{

    font-size: 2rem;
    max-width: 90%;
  }

  .btn-red {
    margin-top: 4rem;
    font-size: 1.2rem;
  }

}

